.bd-placeholder-img{ 
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px){ 
    .bd-placeholder-img-lg{ 
      font-size: 3.5rem;
    }
    }
/*********** Style the navbar *********/
.header{ 
    background-color: #f1f1f1;
    padding: 30px;
    text-align: center;
  }
  
  #navbar{ 
    overflow: hidden;
    background-color: #333;
    z-index: 99999;
  }
  
  #navbar a{ 
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  #navbar a:hover{
    background-color: #FFC72C;
    color: black;
  }
  
  #navbar a.activado{
    background-color: #F2A900;
    color: white;
  }
  
  .content{
    padding: 16px;
  }
  
  .sticky{
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .sticky + .content{
    padding-top: 60px;
  }
  /*********** End Style the navbar *********/